table{
    border-collapse: collapse;
    width: 700px;
}

th, td{
    border: 1px solid black;
    padding: 8px;
}

th{
    background-color: #d8c76d;
    cursor: pointer;
}

tr:hover{
    cursor: pointer;
}